* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #ff63a6; */
    background: linear-gradient(to bottom, #6c63ff, #ff63a6);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin: 100px 100px 100px 0;
}

.card {
    width: 300px;
    height: 200px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    background-color: gainsboro;
    border: 1px solid black;
    border-radius: 15px;

    background: linear-gradient(to bottom, #6c63ff, #ff63a6);
}

.del_btn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    background-color: #ff63a6;
}

.post_form {
    width: max-content;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px solid black;



    background: linear-gradient(to bottom, #ff6b6b, #ffa07a);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.int,
.btn_send {
    border-radius: 5px;
    border: none;
    padding: 5px;

    transition: all 0.3s ease;
}

.int:hover,
.btn_send :hover {
    background-color: #ff6347;
    color: #fff;
}

.int:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.wrapper {
    margin: 100px 0 0 60px;
}